button {
  .arrow-container {
    padding-bottom: 1px;
    border-bottom: 1px solid white;
    margin-right: 5px;
    width: 15px;
    i {
      width: 15px;
      /* position: relative;
    right: 1px; */
    }
  }
  &.as-option {
    .arrow-container {
      border-bottom: 1px solid orange;
    }
  }
}
.style-as-select-option {
  color: orange;
}
