.selected {
  background-color: blue;
}
.btn-container {
  width: 30px;
  height: 30px;
  display: inline-block;
  margin: 0 2px;
  text-align: center;
  button {
    &.page-index {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      text-align: center;
    }
  }
}
