<div class="">
  <div class="row">
    <div [ngClass]="finalSettings.classForFirstBtnWrapper">
      <span *ngIf="showGoToFirst" (click)="selectFirst()">
        <button class="custom-btn tertiary with-padding">
          <label class="no-margins"
            ><i class="fas fa-chevron-left"></i
            ><i class="fas fa-chevron-left"></i
          ></label>
          {{ finalSettings.labelForFirst }}
        </button></span
      >
    </div>
    <div
      class="align-to-center"
      [ngClass]="finalSettings.classForMiddleBtnWrapper"
    >
      <span>
        <span
          *ngIf="showPrevious"
          (click)="selectPrevious()"
          class="btn-container"
          ><button class="custom-btn tertiary">
            <i class="fas fa-chevron-left"></i></button
        ></span>
        <span
          class="btn-container"
          *ngFor="let btn of auxiliarArray"
          (click)="selectPage(btn)"
        >
          <button
            [ngClass]="finalSelectedPage === btn ? 'primary' : 'secondary'"
            class="page-index custom-btn"
          >
            {{ btn }}
          </button>
        </span>
        <span *ngIf="showNext" (click)="selectNext()" class="btn-container"
          ><button class="custom-btn tertiary">
            <i class="fas fa-chevron-right"></i></button
        ></span>
      </span>
    </div>
    <div class="align-to-right" [ngClass]="finalSettings.classForLasttnWrapper">
      <span *ngIf="showGoToLast" (click)="selectLast()"
        ><button class="custom-btn tertiary with-padding">
          {{ finalSettings.labelForLast }}
          <i class="fas fa-chevron-right"></i>
          <i class="fas fa-chevron-right"></i></button
      ></span>
    </div>
  </div>
</div>
