<div class="topHeader">
  <div class="row" id="nav">
    <div class="col-md-8">
      <div class="navbar-brand">
        <img src="assets/img/head_01025_logo.png" alt="Intesa SanPaolo Logo">
        <!-- <img src="{{bankLogo}}" alt="Intesa SanPaolo Logo">-->
      </div>
    </div>
    <div class="col-md-4">
      <div class="checker">
        CHECKER
      </div>
    </div>
  </div>
</div>

