<span class="subset-container" *ngIf="inputSubSets && inputSubSets.length > 0">
  <span *ngFor="let subSet of inputSubSets" class="AAA">
    <app-status-circle [status]="subSet.status"></app-status-circle>
    <span>{{ subSet.count }}</span>
  </span>
</span>
