<span class="main-container">
  <span class="icon" (click)="toggleIsOpen()">
    <i [ngClass]="iconName" *ngIf="iconName else defaultIcon"></i>
  </span>
  <div class="dropdown-content" *ngIf="isOpen">
    <span class="triangle"></span>
    <div *ngFor="let op of options" class="option-container" #optionContainer>
      <span *ngIf="op.visible && renderTheIcon(op)" class="icon-container">
        <i [ngClass]="op.iconName"></i>
      </span>
      <span *ngIf="op.visible && renderTheTextSpan(op)" (click)="onClick(op, $event)">{{
        op.name || op.id
      }}</span>


    </div>
  </div>
</span>

<ng-template #defaultIcon>
  <span class="default-icon" style="border-color: green; padding : 2.8% 1% 1% 19.2%"><i class="fa fa-search" style="color:green;"></i></span>

</ng-template>