$icon-dim: 30px;
$triangle-short-side: 5px;
$triangle-long-side: 10px;
$triangle-long-side-negative: -10px;
$border-radius-val: 5px;

.main-container {
  position: relative;
  width: $icon-dim;
  height: $icon-dim;
  .icon {
    width: $icon-dim;
    height: $icon-dim;
    cursor: pointer;
  }
  .dropdown-content {
    position: absolute;
    background-color: black;
    color: orange;
    min-width: 150px;
    right: $border-radius-val;
    border-radius: $border-radius-val;
    .triangle {
      position: absolute;
      top: $triangle-long-side-negative;
      right: $border-radius-val;
      width: 0;
      height: 0;
      border-left: $triangle-short-side solid transparent;
      border-right: $triangle-short-side solid transparent;
      border-bottom: $triangle-long-side solid black;
    }

    .option-container {
      cursor: pointer;
    }
  }
}

.default-icon {
  width: $icon-dim;
  height: $icon-dim;
  border-radius: 50%;
  border: 1px solid blue;
  display: inline-block;
}
