<div class="cessioni-container row">
  <div class="col-12">
    <div class="heading" *ngIf="headingSettings" [ngClass]="headingSettings.class"
      [innerHTML]="headingSettings.innerHTML" (click)="navigateTo(headingSettings.url)" heading-component></div>
  </div>
  <app-widget [inputDataSets]="bodyDataSets" [settings]="bodySettings" class="col-12">
  </app-widget>
  <div class="col-12">
    <div class="container footer-container with-box-shadow">
      <div class="footer row" *ngIf="footerDataSets && footerDataSets.length > 0" [ngClass]="footerSettings.class"
        footer-component>
        <div *ngFor="let f of footerDataSets" class="col-element" [ngClass]="f.colClass">
          <div class="AAAAA">
            <div class="asdjkasd">
              <span [ngClass]="f.totalCustomisation" class="total">{{ f.total }}</span>
              <span class="link" (click)="navigateTo(f.linkUrl)">{{ f.linkLabel }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>