.cessioni-container {
  height: 100%;
  .bg-blue-c-white {
    background-color: #f2efefe0;
        }
  .heading {
    cursor: pointer;
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .footer-container {
    background-color: lightblue;
    .footer {
      min-height: 40px;
      align-items: center;
      .col-element {
        &:not(:last-child) {
          border-right: 2px dotted gray;
        }
        .AAAAA {
          display: flex;
          justify-content: center;
          .asdjkasd {
            .total {
              margin-right: 15px;
            }
            .link {
              text-decoration: underline;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
