<div>
 <!--<app-manual-refresh-box *ngIf="diffDetected" [onClick]="onManualRefreshClick"
    [text]="'Ci sono nuovi elementi da scaricare'"></app-manual-refresh-box> --> 
  <div class="widgets container"> 
    <div class="widget-row row">
      <app-widget-cessioni class="col-12" [settings]="data && data.cessioni && data.cessioni.settings"
        [headingSettings]="
          data && data.cessioni && data.cessioni.headingSettings
        " [bodyDataSets]="data && data.cessioni && data.cessioni.bodyDataSets"
        [bodySettings]="data && data.cessioni && data.cessioni.bodySettings"
        [footerDataSets]="data && data.cessioni && data.cessioni.footerDataSets"
        [footerSettings]="data && data.cessioni && data.cessioni.footerSettings"></app-widget-cessioni>
    </div>
    <div class="widget-row row">
      <app-widget [inputDataSets]="data.reattivateDaSospensione && data.reattivateDaSospensione.dataSets" class="col-4"
        [settings]="data.reattivateDaSospensione && data.reattivateDaSospensione.settings" [withHeading]="true">
      </app-widget>
      <app-widget [inputDataSets]="data.annullate && data.annullate.dataSets" class="col-4"
      [settings]="data.annullate && data.annullate.settings" [withHeading]="true">
    </app-widget>
      <app-widget [inputDataSets]="data.inAttesa && data.inAttesa.dataSets" class="col-4"
        [settings]="data.inAttesa && data.inAttesa.settings">
      </app-widget>
    </div>
    <div class="widget-row row">
      <app-widget [inputDataSets]="data.daTravasare && data.daTravasare.dataSets" class="col-8"
        [settings]="data.daTravasare && data.daTravasare.settings">
      </app-widget>
      <app-widget [inputDataSets]="data.travasati && data.travasati.dataSets" class="col-4"
        [settings]="data.travasati && data.travasati.settings">
      </app-widget>
    </div>
    <div class="widget-row row">
      <app-widget [inputDataSets]="data.daVistare && data.daVistare.dataSets" class="col-8"
        [settings]="data.daVistare && data.daVistare.settings">
      </app-widget>
      <app-widget [inputDataSets]="data.vistati && data.vistati.dataSets" class="col-4"
        [settings]="data.vistati && data.vistati.settings">
      </app-widget>
    </div>
  </div>
</div>