<div>
  <app-manual-refresh-box
    [onClick]="onManualRefreshClick"
    [text]="'Nuovi elementi da scaricare'"
    *ngIf="diffDetected"
  ></app-manual-refresh-box>
  <app-custom-table
    [inputHeadConfigs]="getHeadConfigFromTableData()"
    [inputRowConfigs]="getBodyConfigFromTableData()"
    [inputSettings]="getInputSettingsFromTableData()"
  > 
    <form name="AAA" advanced-search-form (submit)="handleSubmit($event)">
      <label>Nome</label><input type="text"  name="Nome" />
      <label>Cognome</label><input type="text" name="Cognome" />
      <input type="submit" value="Submit" />
    </form>
  </app-custom-table>
</div>
