$triangle-base-length: 10px;
$triangle-base-length-negative: -10px;
$triangle-isosceles-side-length: 5px;

$isosceles-side-value: $triangle-isosceles-side-length solid transparent;
$base-value: $triangle-base-length solid rgba(0, 0, 0, 0.5);
$popover-heigth: 50px;
$popover-width: 300px;

$whole-heigth: 60px;
$whole-heigth-negative: -60px;
$whole-width: 310px;
$whole-width-negative: -310px;

$left-diff: calc(50% - 150px);
$top-diff: calc(50% - 25px);
$border-radius-value: 6px;

.main-container {
  position: relative;
  .popover-container {
    width: $popover-width;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    border-radius: $border-radius-value;
    padding: 5px;
    z-index: 22;

    &.fixed-heigth {
      height: $popover-heigth;
    }

    &.container-top {
      &.fixed-heigth {
        bottom: $whole-heigth-negative;
      }
    }
    &.container-bottom {
      top: $whole-heigth-negative;
    }

    &.container-top,
    &.container-bottom {
      &.horizontal-align-left {
        left: 45%;
      }
      &.horizontal-align-center {
        left: $left-diff;
      }
      &.horizontal-align-right {
        right: 45%;
      }
    }

    &.container-left {
      right: $whole-width-negative;
    }
    &.container-right {
      left: $whole-width-negative;
    }

    &.container-left,
    &.container-right {
      &.vertical-align-top {
        top: 40%;
      }
      &.vertical-align-center {
        top: $top-diff;
      }
      &.vertical-align-bottom {
        bottom: 40%;
      }
    }

    .triangle-generic {
      width: 0;
      height: 0;
      position: absolute;

      &.horizontal-align-left {
        left: $border-radius-value;
      }
      &.horizontal-align-center {
        left: calc(50% - 3px);
      }
      &.horizontal-align-right {
        right: $border-radius-value;
      }

      &.vertical-align-top {
        top: $border-radius-value;
      }
      &.vertical-align-center {
        top: calc(50% - 3px);
      }
      &.vertical-align-bottom {
        bottom: $border-radius-value;
      }
    }
    .triangle-top {
      border-left: $isosceles-side-value;
      border-right: $isosceles-side-value;
      border-bottom: $base-value;
      top: $triangle-base-length-negative;
    }
    .triangle-bottom {
      border-left: $isosceles-side-value;
      border-right: $isosceles-side-value;
      border-top: $base-value;
      bottom: $triangle-base-length-negative;
    }
    .triangle-left {
      border-top: $isosceles-side-value;
      border-bottom: $isosceles-side-value;
      border-right: $base-value;
      left: $triangle-base-length-negative;
    }
    .triangle-right {
      border-top: $isosceles-side-value;
      border-bottom: $isosceles-side-value;
      border-left: $base-value;
      right: $triangle-base-length-negative;
    }
  }
}

.inline-block-display {
  display: inline-block;
}
.inline-display {
  display: inline;
}
.block-display {
  display: block;
}
