<div
  (mouseenter)="onMouseEnter()"
  (mouseleave)="onMouseLeave()"
  class="main-container"
  [ngClass]="displayClassForMainContainer"
  #divRef
>
  <ng-content select="[main-component]"></ng-content>
  <div *ngIf="show" class="popover-container" [ngClass]="containerClass">
    <div class="triangle-generic" [ngClass]="getClassForTriangle()"></div>
    <ng-content select="[content-in-default-container]"></ng-content>
  </div>
  <ng-content select="[content-outside-container]"></ng-content>
</div>
