table {
  display: table;
  border-collapse: separate;
  border-spacing: 2px;
  border-color: grey;
}
.mock-bootstrap-table {
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
  border-collapse: collapse;

  thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
    th {
      vertical-align: bottom;
      border-bottom: 2px solid #dee2e6;
    }
  }
  tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
    td,
    th {
      padding: 0.75rem;
      vertical-align: top;
      border-top: 1px solid #dee2e6;
    }
  }
}

.container-div {
  padding: 1.5rem;
  margin-right: 0;
  margin-left: 0;
  border-width: 0.2rem;
  margin: 1rem -15px 0;
  border: solid #f8f9fa;
  position: relative;
}

.example-class {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
