<nav #thisTabBar>
  <ng-container *ngFor="let tab of tabList">
    <ng-container *ngIf="withPopover">
      <app-popover [inputSettings]="popoverSettings" [calculatePositions]="popoverSettings.calculatePositions"
        (onFirstShow)="attachRefToSPan(tab.id)">
        <app-tab [label]="tab.label" [url]="tab.url" [type]="type || tab.type" main-component>
          <ng-container *ngIf="tab.textChildren">
            {{ tab.textChildren }}
          </ng-container>
        </app-tab>
        <span content-in-default-container [attr.tab-id]="tab.id"></span>
      </app-popover>
    </ng-container>
  </ng-container>

  <ng-container *ngIf="!withPopover">
    <app-tab *ngFor="let tab of tabList" [label]="tab.label" [labelHTML]="tab.labelHTML" [url]="tab.url"
      [type]="type || tab.type">
      <ng-container *ngIf="tab.textChildren">
        {{ tab.textChildren }}
      </ng-container>
    </app-tab>
  </ng-container>
</nav>