<span class="outer-span" [ngClass]="getContainerClass()">
  <span class="inner-span" [ngClass]="getContainerClass()" (click)="navigate()">
    <span
      class="label-wrapper"
      *ngIf="labelHTML"
      [innerHTML]="labelHTML"
    ></span>
    <span class="label-wrapper" *ngIf="!labelHTML">{{ label }}</span>
    <span class="children-container">
      <ng-content></ng-content>
    </span>
  </span>
</span>
