span {
  &.outer-span {
    display: inline-flex;
    height: 50px;
    align-items: center;
    justify-content: center;
    .inner-span {
      display: inline-flex;
      cursor: pointer;
    }

    &.primary {
      width: 300px;
      border-left: 1px solid gray;
      border-right: 1px solid gray;
      padding: 0 2px;
      background-color: white;
      font-weight: bolder;
      .inner-span {
        height: 50px;
        width: 90%;
        color: rgb(62, 119, 172);
        background-color: white;
        text-align: center;
        font-size: 16px;
        justify-content: center;
        align-items: center;
      }
      &.selected {
        .inner-span {
          color: white;
         // background-color: blue;
         background-color: rgb(62, 119, 172);
        }
      }
    }

    &.secondary {
      margin: 0 10px;
      .inner-span {
        justify-content: space-between;
        align-items: center;
        width: 200px;
        height: 100%;
        padding: 2px 0;
        span {
          &.label-wrapper {
            color: rgb(62, 119, 172);
            width: 55%;
            border-bottom: 1px solid transparent;
            font-weight: bolder;
      
          }
          &.children-container {
            color: white;
            background-color: rgb(62, 119, 172);
            width: 30%;
            text-align: center;
            border: 1px solid white;
          }
        }
        &.selected {
          span {
            &.label-wrapper {
              border-bottom: 1px solid blue;
            }
          }
        }
      }
    }

    &.secondary1 {
      margin: 0 10px;
      .inner-span {
        justify-content: space-between;
        align-items: center;
        width: 200px;
        height: 100%;
        padding: 2px 0;
        span {
          &.label-wrapper {
            color: rgb(62, 119, 172);
            width: 55%;
            border-bottom: 1px solid transparent;
            font-weight: bolder;
            font-size: 15px;
      
          }
          &.children-container {
            color: white;
            background-color: rgb(62, 119, 172);
            width: 30%;
            text-align: center;
            border: 1px solid white;
            border-bottom: 1px solid grey;
          }
        }
        &.selected {
          span {
            &.label-wrapper {
              border-bottom: 3px solid rgb(62, 119, 172);;
            }
          }
        }
      }
    }

    &.tertiary {
      //width: 200px;
      max-width: 350px;
      min-width: 200px;
      .inner-span {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        background-color: gray;
        padding: 1px;
        border: 1px solid gray;
        height: 100%;

        span {
          color: black;
          display: flex;
          justify-content: center;
          &.label-wrapper {
            font-weight: bold;
          }
        }

        &.selected {
          background-color: white;
          border-bottom: 1px solid transparent;
          span {
            &.label-wrapper {
              color: blue;
              font-weight: bold;
            }
            &.children-container {
              color: black;
            }
          }
        }
      }
    }
  }
}
