.dataset-container {
    display: inline-block;
    p {
      &.title {
        font-size: 14px;
      }
      &.url {
        span {
          font-size: 16px;
          color:rgb(62, 119, 172);
          font-weight: bolder;
          cursor: pointer;
        }
      }
    }
    .numbers{
        display: flex;
        justify-content: space-around;
        .total{
          font-size: 25px;
          font-weight: bold;
        }
        .totalCustomisation {
            color: #3e77ac;
        }
    }
  }