<span *ngIf="inputDataSet" class="dataset-container">
  <p *ngIf="!withHeading" class="title">{{ inputDataSet.title }}</p>
  <p class="url">
    <span (click)="navigate(inputDataSet.linkUrl)">{{
      inputDataSet.linkLabel
    }}</span>
  </p>
  <div class="numbers">
    <span [ngClass]="inputDataSet.totalClass" class="total">{{ inputDataSet.total }}</span>
    <app-widget-subsets
      [inputSubSets]="inputDataSet.subSets"
    ></app-widget-subsets>
  </div>
</span>
