div{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px;
    span{
        background-color: rgba(0,0,0,0.9);
        padding:5px;
        cursor: pointer;
        //background-color: black;
        color:white;
    }
}