<div class="container-div" *ngIf="!isAllEmpty()">
  <div class="row">
     <div class="col-6">
      <!-- <input type="text"  (change)="onGlobalSearch($event)" (keyup)="onGlobalSearch($event)" /> -->
      <div class="input-group p-2" style="border: 0.5px solid black; border-radius:2.25rem; width: 50%;padding :1% 1% 1% 1%"  >
        <input type="text" class="form-control" style="border:none;" placeholder="Cerca">
        <div class="input-group-append" >
          <button class="btn btn-secondary" style="border:none;"  type="button">
            <i class="fa fa-search"></i>
          </button>
        </div>
      </div>
     </div>
     <div class="col-6">
      <div style="float: right;" *ngIf="settings && settings.withAdvancedSearch">
        <span (click)="toggleShowAdvancedSearchForm()" style="color: green; font-weight:bold ;">Ricerca<br> avanzata</span>
        <div *ngIf="showAdvancedSearchForm">
          <!-- <form (submit)="handleAdvancedSearchSubmit($event)"> -->
          <ng-content select="[advanced-search-form]"></ng-content>
          <!-- </form> -->
        </div>
      </div>
      <div style="float: right;"*ngIf="settings && settings.actions && settings.actions.length > 0">
        <app-fade-in-dropdown [options]="settings.actions" (onClickOption)="onActionChange($event)">
        </app-fade-in-dropdown>
      </div>
     </div>
  </div>
  <!-- <div style="float: right;" *ngIf="!isBodyEmpty() && settings && settings.paginationValues">
    <select (change)="changeMaxRowsToShow($event)" [(ngModel)]="rowsForPage">
      <option *ngFor="let val of settings.paginationValues" [value]="val">{{val}}</option>
    </select>
  </div> -->

  <br>
  <div style="float: right;" *ngIf="!isBodyEmpty() && settings && settings.paginationValues">
    <select (change)="changeMaxRowsToShow($event)" [(ngModel)]="rowsForPage">
      <option *ngFor="let val of settings.paginationValues" [value]="val">{{val}}</option>
    </select>
  </div>
  <div *ngIf="
      settings &&
      settings.globalSearchList &&
      settings.globalSearchList.length > 0
    ">
    
  </div>

  <div *ngIf="!isHeadEmpty() && settings.showCurrentTotale">
    Totale: {{ rowConfigs.list.length }} / {{ rowsTotal }}
  </div>
  <table *ngIf="headConfigs && rowConfigs" class="mock-bootstrap-table">
    <thead *ngIf="!isHeadEmpty()">
      <tr>
        <th *ngIf="settings.withRowSelection"></th>
        <th *ngFor="let h of headConfigs">
          <span>
            {{ h.textValue }}
          </span>
          <span *ngFor="let i of h.iconList" (click)="onIconClick(i, h)">
            <i [ngClass]="getClassForIcon(i)"></i>
          </span>
        </th>
      </tr>
    </thead>
    <tbody *ngIf="!isBodyEmpty()">
      <tr *ngFor="let r of rowConfigs.list" (click)="onRowClick(r, $event)">
        <td *ngIf="settings.withRowSelection">
          <input type="checkbox" (change)="onToggleCheckboxAction(r, $event)" />
        </td>
        <td *ngFor="let c of r.cellList" (click)="onCellClick(r, c, $event)">
          {{ c.textValue }}
        </td>
      </tr>
    </tbody>
  </table>
  <div *ngIf="!isBodyEmpty() && settings && settings.withDownloadCsv">
    <app-export-excel-button [fallback]="downloadCsv">
    </app-export-excel-button>
    <!-- <button (click)="downloadCsv()">Download CSV</button> -->
  </div>

  <app-pagination-row [totalRows]="rowsTotal" [maxRowsPerPage]="rowsForPage" [controlledSelectedPage]="selectedPage"
    (onPageChange)="paginate($event)" *ngIf="!isBodyEmpty() && !loading">
  </app-pagination-row>

  <!-- Modal -->
  <div id="myModal" class="" role="dialog" *ngIf="closeModal">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-body">
          <div class="row">
            <div class="col-md-5">
              {{numberCessioni}} cessioni selezionati
            </div>
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-6">
                  <a href="#" class="btn btn-default">ANNULLA</a>
                </div>
                <div class="col-md-6">
                  <a href="#" class="btn btn-primary">ASSEGNA</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>