table {
  display: table;
  border-collapse: separate;
  border-spacing: 2px;
  border-color: grey;
}
.mock-bootstrap-table {
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
  border-collapse: collapse;

  thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
    th {
      vertical-align: bottom;
      border-bottom: 2px solid #dee2e6;
    }
  }
  tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
    td,
    th {
      padding: 0.75rem;
      vertical-align: top;
      border-top: 1px solid #dee2e6;
    }
  }
}


.container-div{
    padding: 1.5rem;
    margin-right: 0;
    margin-left: 0;
    border-width: .2rem;
    margin: 1rem -15px 0;
    border: solid #f8f9fa;
    position: relative;
}

.btn-secondary{
  height: calc(1.5em + .75rem + 2px);
  border: 0.5px solid #cddc39;
  background-color:white;
 border-left :grey;
 border-top-color :rgb(206, 212, 218);
 border-bottom-color :rgb(206, 212, 218);
 border-right-color :rgb(206, 212, 218);
 color : green;
}
.btn-secondary:hover{
  background-color:white;
 border-left :grey;
 border-top-color :rgb(206, 212, 218);
 border-bottom-color :rgb(206, 212, 218);
 border-right-color :rgb(206, 212, 218);
 color : green;
}
#myModal {
  top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    position: absolute;
}
.modal-content {
  border: 1px solid #3e77ac;
}