/* You can add global styles to this file, and also import other style files */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
}

a {
  color: #333;
  text-decoration: none;
}

.container {
  padding: 0 1rem;
}

.btn {
  display: inline-block;
  border: none;
  background: #555;
  color: #fff;
  padding: 7px 20px;
  cursor: pointer;
}

.btn:hover {
  background: #666;
}
.navbar-container {
  display: flex;
  justify-content: center;
}

@import "~bootstrap/dist/css/bootstrap.min.css";

.with-box-shadow {
  box-shadow: 2px 4px 18px #888888;
}

.align-to-center {
  display: flex;
  justify-content: center;
}
.align-to-right {
  display: flex;
  justify-content: flex-end;
}

.custom-btn {
  display: inline-block;
  border: none;
  background: #555;
  color: #fff;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  user-select: none;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10+ and Edge */
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;

  cursor: pointer;
  &:hover {
    opacity: 0.7;
  }
  &.primary {
    background-color: #007bff;
    //color: ;
  }
  &.secondary {
    background-color: white;
    color: #007bff;
    border: 0.5px solid #007bff;
  }
  &.tertiary {
    background-color: white;
    color: #007bff;
    border: none;
  }
  &.as-option{
    color:orange;
    background-color: transparent;
  }
  &.with-padding {
    padding: 7px 20px;
  }
}

.no-margins{
  margin:0;
}