<app-header-top></app-header-top>
<header class="header">
    <!-- <a routerLink="/">Home</a> | <a [routerLink]="['/about']">About</a> -->
    <!-- <app-tab [label]="'Dashboard'" [url]="'/dashboard'"></app-tab>
    <app-tab [label]="'Quercia'" [url]="'/quercia'"></app-tab>
    <app-tab [label]="'Visto'" [url]="'/visto'"></app-tab> -->
    <app-tab-bar [tabList]="tabList"></app-tab-bar>
</header>
