$border-value: 3px solid blue;

.border-to-bottom {
  border-bottom: $border-value;
}

.border-to-left {
    border-left: $border-value;
  }

.widget-container {
  padding: 10px;
  box-shadow: 2px 4px 18px #888888;
  border-radius: 3px;
  //min-height: 115px;
  height: 100%;
  &.multiple-box {
    app-widget-dataset {
      &:not(:last-child) {
        border-right: 2px dotted gray;
      }
    }
  }
}

.widget-container-customisation {
  background-color: #f2efefe0;
  height: 35px;
  padding: 8px;
}