<div *ngIf="withHeading" class="widget-container-customisation">
  <div *ngFor="let ds of inputDataSets">
    <span>{{ds.title}}</span>
  </div>
</div>
<div
  *ngIf="actualSettings.themeClass === 'primary'"
  class="widget-container container"
  [ngClass]="getWidgetClass()"
>
  <!--  <div class="row" *ngIf="withHeading">
    <ng-content select="[heading-component]"></ng-content>
  </div>
-->
  <div class="row">
    <app-widget-dataset
      *ngFor="let ds of inputDataSets"
      [inputDataSet]="ds"
      [withHeading] = "withHeading"
      [multiple]="hasMultipleBoxes()"
      [ngClass]="ds.colClass"
    >
    </app-widget-dataset>
  </div>
  <!-- 
  <div class="row" *ngIf="withFooter">
    <ng-content select="[footer-component]"></ng-content>
  </div> -->
</div>
